alembic==1.7.6
anyio==3.5.0
asgiref==3.5.0
autopep8==1.6.0
beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.3
colorama==0.4.4
fastapi==0.73.0
greenlet==1.1.2
h11==0.13.0
idna==3.3
Mako==1.1.6
MarkupSafe==2.0.1
psycopg2-binary==2.9.3
pycodestyle==2.8.0
pydantic==1.9.0
python-dotenv==0.19.2
requests==2.27.1
sniffio==1.2.0
soupsieve==2.3.1
SQLAlchemy==1.4.31
starlette==0.17.1
toml==0.10.2
typing-extensions==4.1.1
urllib3==1.26.8
uvicorn==0.17.4
xlrd==1.2.0
