alembic==1.7.6
anyio==3.5.0
asgiref==3.5.0
async-generator==1.10
asyncpg==0.25.0
atomicwrites==1.4.0
attrs==21.4.0
autopep8==1.6.0
beautifulsoup4==4.10.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.3
colorama==0.4.4
coverage==6.3.2
fastapi==0.73.0
greenlet==1.1.2
gunicorn==20.1.0
h11==0.12.0
httpcore==0.14.7
httptools==0.3.0
httpx==0.23.0
idna==3.3
iniconfig==1.1.1
Mako==1.2.2
MarkupSafe==2.0.1
outcome==1.1.0
packaging==21.3
pluggy==1.0.0
psycopg2==2.9.3
py==1.11.0
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.9.0
pyparsing==3.0.7
pytest==7.1.0
pytest-asyncio==0.18.2
pytest-cov==3.0.0
pytest-httpx==0.20.0
python-dotenv==0.19.2
PyYAML==6.0
requests==2.27.1
rfc3986==1.5.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
SQLAlchemy==1.4.31
starlette==0.17.1
toml==0.10.2
tomli==2.0.1
trio==0.20.0
typing-extensions==4.1.1
urllib3==1.26.8
uvicorn==0.17.4
watchgod==0.8
websockets==10.2
xlrd==1.2.0
imgkit==1.2.2
Jinja2==3.1.2
